/* Global Settings */
* {
    padding: 0;
    margin: 0;
    font-family: 'FiraCode Nerd Font Mono';
}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
    border: 1px solid rgba(0, 0, 0, 0);
}

/* Remove Background */
window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

.modules-left>widget:first-child>#workspaces {
    margin-left: 0px;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0px;
}

#workspaces button {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    color: #ebdbb2;
}

#workspaces {
    background-color: #282828;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    border: 2px solid #458588;
}

#workspaces button.persistent {
    color: #a89984;
}

#mode {
    background-color: #282828;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: 2px solid #cc241d;
    font-size: 16px;
    font-weight: bold;
    color: #ebdbb2;
    margin: 0;
}

#window {
    background-color: #282828;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    border: 2px solid #b16286;
    color: #ebdbb2;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

#tray {
    background-color: #282828;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    border: 2px solid #d65d0e;
    margin: 0px
}

#clock {
    background-color: #282828;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    margin: 0px;
    color: #ebdbb2;
    font-weight: bold;
    font-size: 12px;
    border: 2px solid #689d6a;
}

#network {
    border-radius: 15px;
    background-color: #282828;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0px;
    color: #ebdbb2;
    font-weight: bold;
    border: 2px solid #d79921;
    font-size: 20px;
}

#blueth {
    background-color: #282828;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    margin: 0px;
    color: #ebdbb2;
    font-weight: bold;
    border: 2px solid #d79921;
}

#custom-bluetooth-icon {
    font-size:14px;
}
#bluetooth {
    font-size:12px;
    padding-left: 5px;
}

#sound {
    background-color: #282828;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    margin: 0px;
    border: 2px solid #98971a;
    color: #ebdbb2;
    font-weight: bold;
}

#pulseaudio {
    font-size: 20px;
}

#pulseaudio-slider {
    padding-left: 5px;
    min-width: 30px;
}

#pulseaudio-slider slider {
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 0px;
    border-radius: 5px;
    background-color: #458588;
}

#pulseaudio-slider highlight {
    background-color: #458588;
    border-radius: 4px;
}
